{% comment %} It says the signup template code will be updated in an upcoming topic (
from https://learn.codeinstitute.net/courses/course-v1:CodeInstitute+FSD101_KC+3/courseware/713441aba05441dfb3a7cf04f3268b3f/f614040ed41a49dbb268f0102af9ce05/) {% endcomment %}

{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>{% trans "Sign Out" %}</h3>

            <p>{% trans 'Are you sure you want to sign out?' %}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">

            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}