{% extends "base.html" %}
{% load static %}
{% block content %}



{% comment %} from LMS: {% endcomment %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <!-- Introduction Section -->
        <div class="col-12 mt-5 mb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <div class="intro-section text-center">
                        <h1 class="intro-title mb-4">Low-Spec Memories</h1>
                        <p class="intro-text">A journal about the nostalgia from the games we played as kids.<br>
                        You can submit your own articles if you sign up and click "My Submissions" at the top of the page.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3">
            <div class="row justify-content-center">
                {% for article in article_list %}
                <div class="col-12">
                    <article class="card mb-4" aria-label="Article by {{ article.writer }}">
                        <div class="card-body text-center">
                            <h2 class="card-title">{{ article.title }}</h2>
                            {{ article.article_body}}
                            <div class="author-box">
                                <p class="author-name">Written by {{ article.writer }}</p>
                            </div>
                            <p class="card-text text-muted h6">{{ article.date_written}}
                            </p>
                            <hr />
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->

{% endblock %}